footer{
  background-color: rgb(67, 67, 67);
  height: 200px;
  margin-top:20px;
  text-align: center;
}
footer p{
  color:grey;
}
footer i{
  margin-top: 60px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
}
